<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <!--<link rel="stylesheet" href="css/spinner.css" />-->

    <script src="js/main.js" defer></script>
    <title>Hate Speech Detector</title>
  </head>
  <body>
    <header>
      <div class="navbar">
        <div class="logo">
          <h2>Hate Speech Detector</h2>
        </div>
        <div class="nav-links">
          <ul>
            <li>
              
            </li>
          </ul>
        </div>
      </div>
    </header>

    <main>
      <section class="showcase">
        <form action="" method="" id="text-form">
          <h1>Put Text for Analysis</h1>
          <div class="form-control">
            <input type="text" id="prompt" placeholder="Enter Text" />
          </div>
          <button type="submit" class="btn">Test it!</button>
        </form>
      </section>

      <section class="detected-text">
        <div class="text-container">
          <h2 class="msg"></h2>
          <div type="text" alt="" id="text"></div>
        </div>
      </section>
    </main>

    <!--<div class="spinner"></div>-->
  </body>
</html>